<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html;charset=UTF-8" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="clcore.1.8.0.Condition">
          <match url="^(Condition)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crcondition.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.Composition">
          <match url="^(Composition)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crcomposition.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.Provenance">
          <match url="^(Provenance)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crprovenance.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.Immunization">
          <match url="^(Immunization)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crimmunization.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.Organization">
          <match url="^(Organization)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crorganization.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.ImplementationGuide">
          <match url="^(ImplementationGuide)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crimplementationguide.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.Bundle">
          <match url="^(Bundle)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crbundle.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.Patient">
          <match url="^(Patient)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crpatient.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.PractitionerRole">
          <match url="^(PractitionerRole)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crpractitionerrole.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.CodeSystem">
          <match url="^(CodeSystem)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crcodesystem.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.Practitioner">
          <match url="^(Practitioner)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crpractitioner.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.StructureDefinition">
          <match url="^(StructureDefinition)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crstructuredefinition.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.AllergyIntolerance">
          <match url="^(AllergyIntolerance)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crallergyintolerance.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.RequestGroup">
          <match url="^(RequestGroup)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crrequestgroup.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.Medication">
          <match url="^(Medication)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crmedication.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.Observation">
          <match url="^(Observation)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crobservation.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.Encounter">
          <match url="^(Encounter)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crencounter.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.AuditEvent">
          <match url="^(AuditEvent)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crauditevent.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.MedicationStatement">
          <match url="^(MedicationStatement)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crmedicationstatement.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.ValueSet">
          <match url="^(ValueSet)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crvalueset.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="clcore.1.8.0.Location">
          <match url="^(Location)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crlocation.asp?type={R:1}&amp;id={R:2}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>